body {
    margin: 0;
    padding: 0;
}
.content{
    /* background: url('bg.jpeg') no-repeat center center; */
    /* background-color: aqua; */
    padding-top: 30px;
    background-size: cover;
}
#idsaya {
    background-color: rgb(10, 82, 10);
    display: flex;
    height: auto;
    align-items: center;
    padding: 8px 30px;
}
.headers h1{
    font-size: 25px;
    color: white;
    margin-right: auto;
}
.headers nav ul{
    display: flex;
    list-style: none;
}

.headers nav ul li {
    margin-right: 25px;
}
.headers nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.container{
    display: block;
    text-align: center;
}

.container .title{
    font-size: 45px;
}
.container .description{
    font-size: 30px;
}

.list-anggota, .list-book{
    margin-top: 50px;
    padding: 15px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    justify-content: center
}
/* 
@media only screen and (min-width: 100px) {
    .list-book {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 1025px) {
    .list-book {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 1281px) {
    .list-book {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
} */

.list-anggota .card, .list-book .card{
    padding: 10px;
    border: solid gray;
    border-width: 1px;
    text-align: center;
    border-radius: 5px;
    width: 250px;
}
.list-anggota .card img, .list-book .card img{
    min-width: 230px;
    min-height: 330px;
    max-width: 250px;
    max-height: 350px;
    margin: auto;
}
.list-anggota .card img {
    object-fit: cover;
}
.list-anggota .card .info, .list-book .card .info{
    margin-bottom: 30px;
}
.list-book .card .info span {
    font-size: 18px;
    text-align: center;
    width: 100px;
}
.list-anggota .card .info .judul, .list-book .card .info .judul{
    font-weight: 800;
    text-transform: uppercase;
}
.list-book .card .info .penulis{
    font-size: 15px;
}
.list-book .card a{
    text-decoration: none;
    background-color: rgb(44, 44, 233);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-width: 0;
    border-radius: 8px;
}